
NET "GMII_RX_CLK_0" TNM_NET =  "GMII_RX_CLK_0";
TIMESPEC "TS_GMII_RX_CLK_0" = PERIOD "GMII_RX_CLK_0" 8.0 ns HIGH 50%;

INST "*RXdataDelayReg*"  IOB = true;
INST "*RXdvDelayReg"     IOB = true;

INST "GMII_TXD_0<?>"     IOSTANDARD = LVCMOS33;
INST "GMII_TX_EN_0"      IOSTANDARD = LVCMOS33;
INST "GMII_TX_ER_0"      IOSTANDARD = LVCMOS33;

INST "GMII_RXD_0<?>"     IOSTANDARD = LVCMOS25;
INST "GMII_RX_DV_0"      IOSTANDARD = LVCMOS25;

INST "GMII_TX_CLK_0"     IOSTANDARD = LVCMOS25;
INST "GMII_RX_CLK_0"     IOSTANDARD = LVCMOS25;

INST "GMII_RESET_B"      IOSTANDARD = LVCMOS25;

# Start of Constraints extracted by Floorplanner from the Design
NET "GMII_TX_ER_0"  LOC = "AJ9"  ;
NET "GMII_TX_EN_0"  LOC = "AJ10" ;
NET "GMII_TX_CLK_0" LOC = "J16"  ;
NET "GMII_TXD_0<7>" LOC = "AG11" ;
NET "GMII_TXD_0<6>" LOC = "AG10" ;
NET "GMII_TXD_0<5>" LOC = "AH8"  ;
NET "GMII_TXD_0<4>" LOC = "AG8"  ;
NET "GMII_TXD_0<3>" LOC = "AH10" ;
NET "GMII_TXD_0<2>" LOC = "AH9"  ;
NET "GMII_TXD_0<1>" LOC = "AE11" ;
NET "GMII_TXD_0<0>" LOC = "AF11" ;
NET "GMII_RX_DV_0"  LOC = "E32"  ;
NET "GMII_RX_CLK_0" LOC = "H17"  ;
NET "GMII_RXD_0<7>" LOC = "F33"  ;
NET "GMII_RXD_0<6>" LOC = "D34"  ;
NET "GMII_RXD_0<5>" LOC = "C34"  ; 
NET "GMII_RXD_0<4>" LOC = "D32"  ; 
NET "GMII_RXD_0<3>" LOC = "C32"  ;
NET "GMII_RXD_0<2>" LOC = "C33"  ;
NET "GMII_RXD_0<1>" LOC = "B33"  ;
NET "GMII_RXD_0<0>" LOC = "A33"  ;
NET "GMII_RESET_B"  LOC = "J14"  ;
