NET "CLKBP" TNM_NET =  "CLKBP";
TIMESPEC "TS_CLKBP" = PERIOD "CLKBP" 5.0 ns HIGH 50%;

NET "CLKBN" TNM_NET =  "CLKBN";
TIMESPEC "TS_CLKBN" = PERIOD "CLKBN" 5.0 ns HIGH 50%;

NET "CLKBP" IOSTANDARD = LVDS_25;
NET "CLKBP" LOC = "L19";
NET "CLKBN" IOSTANDARD = LVDS_25;
NET "CLKBN" LOC = "K19";

NET "FPGAreset" IOSTANDARD = LVCMOS25;
NET "FPGAreset" LOC = "E9";

NET "LED<0>" LOC = "H18";
NET "LED<1>" LOC = "L18";
NET "LED<2>" LOC = "G15";
NET "LED<3>" LOC = "AD26";
NET "LED<4>" LOC = "G16";
NET "LED<5>" LOC = "AD25";
NET "LED<6>" LOC = "AD24";
NET "LED<7>" LOC = "AE24";

NET "LED_ERR<0>" LOC = "F6";
NET "LED_ERR<1>" LOC = "T10";

